<template>
  <v-dialog v-model="show" max-width="300" persistent>
    <v-card>
      <v-card-title class="title">{{ title }}</v-card-title>
      <v-card-text>
        <v-text-field v-model="ord" label="decimal ordinal"></v-text-field>
        <canvas id="big-canvas" width="120" height="160"
          @click="clicky"
        ></canvas>

        <!-- TODO: hex/dec ordinal... commit to a number scheme -->
        <!-- TODO: textbox for hex values for ease -->

       </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text
          @click="show = false"
        >Cancel</v-btn>
        <v-btn color="primary" text
          @click="commit"
          :disabled="hasError"
        >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
#big-canvas {
  border: 1px solid #ddd;
  cursor: crosshair;
  user-select: none;
}
</style>

<script>
import { store, mutations } from '../store';

export default {
  data: () => ({
    ord: null,
    imgdata: [0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0,
              0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0, 0,0,0,0,0,0],
  }),
  props: {
    value: Boolean,
    glyphKey: String,
  },
  computed: {
    show: {
      get () {
        return this.value;
      },
      set (value) {
        this.$emit('input', value);
      }
    },
    title: function () {
      if (this.glyphKey) {
        return "Edit Glyph ." + this.glyphKey;
      }
      else {
        return "Add Glyph";
      }
    },
    hasError: function () {
      if (this.ord == null || this.ord === '') {
        return false;
      }
      else if (this.ord != parseInt(this.ord)) {
        return true;
      }
      else {
        for (let key in store.glyphs) {
          if (this.glyphKey != key && store.glyphs[key].ord == this.ord) {
            return true;
          }
        }
        return false;
      }
    },
  },
  methods: {
    commit: function () {
      var ord = null;
      if (this.ord == parseInt(this.ord)) {
        ord = parseInt(this.ord);
      }

      if (this.glyphKey) {
        mutations.editGlyph(this.glyphKey, ord, this.imgdata);
      }
      else {
        mutations.addGlyph(ord, this.imgdata);
      }

      this.show = false;
    },
    clicky: function (evt) {
      const scale = Math.trunc(evt.target.width / 6);
      const px = Math.trunc(evt.offsetX / scale);
      const py = Math.trunc(evt.offsetY / scale);

      const ix = py * 6 + px;
      this.$set(this.imgdata, ix, !this.imgdata[ix]);
      this.renderCanvas();
    },
    renderCanvas: function () {
      const canvas = document.getElementById('big-canvas');
      if (!canvas) {
        console.log("returning");
        return;
      }

      const colorOn = store.showInvert ? 0 : 255;
      const colorOff = store.showInvert ? 255 : 0;
      const scale = Math.trunc(canvas.width / 6);

      const ctx = canvas.getContext('2d', { alpha: false });
      const imgdata = ctx.getImageData(0, 0, canvas.width, canvas.height);
      const data = imgdata.data;
      for (let ix = 0; ix < data.length; ix += 4) {
        //const pp = Math.trunc(ix / 4);
        //const row = Math.trunc(pp / canvas.width);
        //const col = Math.trunc(pp % canvas.width);

        const py = Math.trunc(((ix / 4) / canvas.width) / scale);
        const px = Math.trunc(((ix / 4) % canvas.width) / scale);

        const color = this.imgdata[py * 6 + px] ? colorOn : colorOff;
        data[ix + 0] = color;
        data[ix + 1] = color;
        data[ix + 2] = color;
        data[ix + 3] = 255;
      }

      ctx.putImageData(imgdata, 0, 0);
    },
  },
  watch: {
    show (newShow) {
      if (newShow) {
        if (this.glyphKey in store.glyphs) {
          this.ord = store.glyphs[this.glyphKey].ord;
          const gi = store.glyphs[this.glyphKey].imgdata;
          for (let ix = 0; ix < this.imgdata.length; ix++) {
            this.$set(this.imgdata, ix, gi[ix]);
          }
        }
        else {
          this.ord = null;
          for (let ix = 0; ix < this.imgdata.length; ix++) {
            this.$set(this.imgdata, ix, 0);
          }
        }
        this.$nextTick(() => {
          this.renderCanvas();
        });
      }
    },
  },
}
</script>
