<template>
  <v-badge
    :value="notunique"
    icon="mdi-hexagon-multiple"
    color="transparent"
    offset-x="22" offset-y="16"
    overlap
    class="fontBadge"
  >
  <v-card
    class="pa-2 ma-1"
    width="65"
    height="100"
    hover
    v-blur
    :class="{ 'invertBG': !showInvert, 'selected': selected }"
    :outlined="!selected"
    @click="toggleSelection"
  >
    <v-toolbar-title class="infofont font-weight-bold" style="height: 20px"
    >{{hexify}} {{ascii}}</v-toolbar-title>
    <img width="48" height="64" :src="srcdata" class="pixel">
  </v-card>
  </v-badge>
</template>

<style>
.fontBadge i.v-icon.v-icon {
  font-size: 18px;
  color: grey;
}

.infofont {
  font-size: 0.625rem !important;
  letter-spacing: 0.15em !important;
  line-height: 1rem !important;
  font-family: "Roboto", sans-serif !important;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: 1px solid #ddd;
}

.theme--light.v-sheet.invertBG {
  background: #333;
  color: white;
}
.theme--light.v-sheet.v-card--outlined.invertBG {
  border-color: rgba(255,255,255,0.12);
}
.theme--light.v-sheet.v-card.selected {
  background: #ddd;
}
.theme--light.v-sheet.v-card.selected.invertBG {
  background: #555;
}
</style>

<script>
import { store, mutations } from '../store';

export default {
  data: () => ({
  }),
  props: {
    glyphKey: Number,
    ord: Number,
    selected: Boolean,
    imgdata: Array,
  },
  computed: {
    srcdata: function () {
      if (!this.imgdata) return;

      const colorOn = store.showInvert ? 0 : 255;
      const colorOff = store.showInvert ? 255 : 0;

      const canvas = document.createElement('canvas');
      canvas.width = 6;
      canvas.height = 8;
      const ctx = canvas.getContext('2d', { alpha: false });
      const imgdata = ctx.getImageData(0, 0, canvas.width, canvas.height);
      const data = imgdata.data;
      for (let ix = 0; ix < canvas.width * canvas.height; ix++) {
        const color = this.imgdata[ix] ? colorOn : colorOff;
        data[4*ix + 0] = color;
        data[4*ix + 1] = color;
        data[4*ix + 2] = color;
        data[4*ix + 3] = 255;
      }
      ctx.putImageData(imgdata, 0, 0);
      return canvas.toDataURL();
    },
    ascii: function () {
      if (this.ord < 32 || this.ord > 126) return;
      return "'" + String.fromCharCode(this.ord) + "'";
    },
    hexify: function () {
      if (Number.isInteger(this.ord)) {
        return 'x' + this.ord.toString(16).toUpperCase().padStart(2, '0');
      }
      else {
        return '#' + this.glyphKey;
      }
    },
    showInvert: function () {
      return store.showInvert;
    },
    notunique: function () {
      return !mutations.isGlyphUnique(this.glyphKey);
    }
  },
  methods: {
    toggleSelection: function () {
      mutations.toggleGlyph(this.glyphKey);
    }
  }
}
</script>
