<template>
  <v-dialog v-model="show" max-width="600" persistent>
    <v-card>
      <v-card-title class="title">Load Image</v-card-title>
      <v-card-text>
        <p>Image should be a multiple of 6x8 (WxH) pixels (e.g. 126x32).
        Any remainder pixels will be discarded. The full screen size
        will be converted.</p>

        <v-container fluid>
          <v-row>
            <v-col>
              <v-select :items="screenSizes" label="Screen Type"
                v-model="selectedSize"
                @change="selectedScreenSize" hide-details dense
              ></v-select>
            </v-col>
            <v-col>
              <v-slider v-model="threshold" min="0" max="255"
                hide-details dense label="Threshold"
                thumb-label="always" thumb-size="24"
                @change="drawCanvas"
              ></v-slider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-file-input label="Image File"
                v-model="selectedFile"
                @change="loadImageToCanvas"
              ></v-file-input>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <canvas ref="loadImageCanvas" width="512" height="128"
                class="loadImageCanvas"
                @click="clicky"
              ></canvas>
            </v-col>
          </v-row>
        </v-container>

        <!-- TODO: rotate options? -->

        <!-- TODO: offscreen image, drag drop, resize? -->
        <!-- TODO: what does image2cpp have -->
        <!-- TODO: select grey or R/G/B channel? -->

       </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text
          @click="show = false"
        >Cancel</v-btn>
        <v-btn color="primary" text
          @click="commit"
          :disabled="hasError"
        >Load</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
.loadImageCanvas {
  border: 1px solid #ddd;
  user-select: none;
  cursor: crosshair;
}
</style>

<script>
import { mutations } from '../store';

export default {
  data: () => ({
    selectedFile: null,
    selectedSize: "128x32",
    imgdata: null,
    screenSizes: [ "128x32", "128x64" ],
    threshold: 128,
  }),
  props: {
    value: Boolean
  },
  computed: {
    show: {
      get () {
        return this.value;
      },
      set (value) {
        this.$emit('input', value);
      }
    },
    hasError: function () {
      // TODO: error flagging
      return false;
    },
  },
  methods: {
    clicky: function (evt) {
      const scale = 4;
      const px = Math.trunc(evt.offsetX / scale);
      const py = Math.trunc(evt.offsetY / scale);

      const canvas = this.$refs.loadImageCanvas;
      const ctx = canvas.getContext('2d', { alpha: false });
      const imgdata = ctx.getImageData(0, 0, canvas.width, canvas.height);
      const data = imgdata.data;

      for (let jx = 0; jx < scale; jx++) {
        for (let ix = 0; ix < scale; ix++) {
          const pos = canvas.width * (py * scale + jx) + (px * scale + ix);
          data[4 * pos + 0] = data[4 * pos + 0] > 128 ? 0 : 255;
          data[4 * pos + 1] = data[4 * pos + 1] > 128 ? 0 : 255;
          data[4 * pos + 2] = data[4 * pos + 2] > 128 ? 0 : 255;
        }
      }

      ctx.putImageData(imgdata, 0, 0);
    },
    commit: function () {
      const scale = 4;

      const canvas = this.$refs.loadImageCanvas;
      const ctx = canvas.getContext('2d', { alpha: false });
      const imgdata = ctx.getImageData(0, 0, canvas.width, canvas.height);
      const data = imgdata.data;

      const glyphs = [];

      for (let ix = 0; ix < data.length; ix += 4 * scale) {
        const pixel = Math.trunc(ix / 4);
        const py = Math.trunc((pixel / canvas.width) / scale);
        const px = Math.trunc((pixel % canvas.width) / scale);

        const gx = Math.trunc(px % 6);
        const gy = Math.trunc(py % 8);
        const gix = (Math.trunc(py / 8) * 21) + (Math.trunc(px / 6) % 21);

        if (glyphs[gix] == null) {
          glyphs[gix] = [];
        }
        glyphs[gix][gx + gy * 6] = (data[ix] > 128) ? 0 : 1;
      }

      const imagedef = [];
      const imagehashes = {};

      for (let ix = 0; ix < glyphs[ix].length; ix++) {
        const hash = glyphs[ix].join();
        if (hash in imagehashes) {
          imagedef.push(imagehashes[hash]);
        }
        else {
          const key = mutations.addGlyph(null, glyphs[ix]);
          imagedef.push(key);
          imagehashes[hash] = key;
        }
      }

      // TODO: textbox for imagedef?

      if (imagedef.length > 0) {
        mutations.addImage(imagedef);
      }

      this.show = false;
    },
    loadImageToCanvas: function () {
      if (!this.selectedFile) return;

      var reader = new FileReader();
      reader.onload = (evt) => {
        const img = new Image();
        img.onload = () => {
          this.imgdata = img;
          this.drawCanvas();
        };
        img.src = evt.target.result;
      };
      reader.readAsDataURL(this.selectedFile);
    },
    drawCanvas: function () {
      if (!this.imgdata) return;

      const canvas = this.$refs.loadImageCanvas;
      const ctx = canvas.getContext('2d', { alpha: false });
      ctx.fillStyle = 'white';
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.imageSmoothingEnabled = false;
      ctx.scale(4, 4);
      ctx.drawImage(this.imgdata, 0, 0);
      ctx.setTransform(1, 0, 0, 1, 0, 0);

      // now convert to greyscale
      const imgdata = ctx.getImageData(0, 0, canvas.width, canvas.height);
      for (let ix = 0; ix < imgdata.data.length; ix += 4) {
        const avg = (imgdata.data[ix+0] + imgdata.data[ix+1] + imgdata.data[ix+2]) / 3;
        const value = avg > this.threshold ? 255 : 0;
        imgdata.data[ix + 0] = value;
        imgdata.data[ix + 1] = value;
        imgdata.data[ix + 2] = value;
      }
      ctx.putImageData(imgdata, 0, 0);

      // and draw grid
      ctx.lineWidth = 0.5;
      ctx.strokeStyle = 'green';
      for (let ix = 6 * 4; ix < canvas.width; ix += 6 * 4) {
        ctx.beginPath();
        ctx.moveTo(ix, 0);
        ctx.lineTo(ix, canvas.height);
        ctx.stroke();
      }
      for (let ix = 8 * 4; ix < canvas.height; ix += 8 * 4) {
        ctx.beginPath();
        ctx.moveTo(0, ix);
        ctx.lineTo(canvas.width, ix);
        ctx.stroke();
      }
    },
    selectedScreenSize: function (value) {
      const canvas = this.$refs.loadImageCanvas;
      canvas.width = 128 * 4;
      if (value == "128x32") {
        canvas.height = 32 * 4;
      }
      else {
        canvas.height = 64 * 4;
      }
    },
  },
  watch: {
    show (newShow) {
      if (newShow) {
        this.selectedFile = null;
        this.imgdata = null;
      }
    },
  },
}
</script>
