<template>
  <v-dialog v-model="show">
    <v-card>
      <v-card-title class="title">Load Font</v-card-title>
      <v-card-text>
        <!-- use 'raw-loader' nodejs import to load the default file -->
        <v-container fluid>
          <v-row>
            <v-col>
              This loader (currently) requires a 6x8 (WxH) pixel glyph,
              with vertical-alignment.
              Select your custom glcdfont.c file to load, the QMK default,
              or enter your array code in the textbox.
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-file-input label="Font Source File"
                v-model="selectedFile"
                @change="readFileContents"
              ></v-file-input>
            </v-col>
            <v-col lg="2" sm="4">
              <v-btn @click="loadDefault">Use Default</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-textarea outlined no-resize counter
                style="font-family: monospace"
                :counter-value="glyphSummary"
                label="Font Source Code"
                v-model="rawData"
                :error="hasError"
                :error-messages="errorMessage"
              ></v-textarea>
              <v-text-field v-model="startPos" label="OLED_FONT_START"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text
          @click="show = false"
        >Cancel</v-btn>
        <v-btn color="primary" text
          @click="loadFont"
          :disabled="hasError || !fontData"
        >Load</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { store, mutations } from '../store';
import { parseGlyphCode } from '../font';
import glcdfont from '!raw-loader!../assets/glcdfont.c'

export default {
  data: () => ({
    startPos: 0,
    selectedFile: null,
    rawData: null,
    fontData: null,
    imageOrds: null,
    errorMessage: ''
  }),
  props: {
    value: Boolean
  },
  computed: {
    show: {
      get () {
        return this.value;
      },
      set (value) {
        this.$emit('input', value);
      }
    },
    hasError: function () {
      return this.errorMessage != '';
    }
  },
  methods: {
    readFileContents: function () {
      if (!this.selectedFile) return;

      var reader = new FileReader();
      reader.onload = () => {
        this.rawData = reader.result;
      };
      reader.readAsText(this.selectedFile);
      // TODO: how to handle file errors, and show?
      // TODO: use the same error/errorMessage as textfield?
      // TODO: refactor so 'errorMessage' and 'hasError' is more accurate named
    },
    glyphSummary: function () {
      this.errorMessage = '';
      this.fontData = '';

      if (!this.rawData) {
        this.selectedFile = null;
        return '';
      }

      const output = parseGlyphCode(this.rawData);
      if (output.err !== undefined) {
        this.errorMessage = output.err;
        return '';
      }

      if (output.fontStart !== undefined) {
        this.startPos = output.fontStart;
      }
      if (output.images !== undefined) {
        this.imageOrds = output.images;
      }

      this.fontData = output.glyphs;
      return 'Glyphs: ' + (this.fontData.length / 6);
    },
    loadDefault: function () {
      this.rawData = glcdfont;
      this.startPos = 0;
      // TODO: categorize the default font sections?
      // TODO: in which case button turns into tab with checkboxes
      // TODO: how to manage the section ranges? json?
    },
    loadFont: function () {
      if (Object.keys(store.glyphs).length > 0) {
        if (!window.confirm("This will clear existing glyphs!")) {
          return;
        }
      }
      mutations.reset();

      const ordmap = {};

      var ord = parseInt(this.startPos);
      var ix = 0;
      while (ix < this.fontData.length) {
        var imgdata = new Uint8ClampedArray(6 * 8);

        for (let jx = 0; jx < 6; jx++) {
          const byteval = this.fontData[ix + jx];
          for (let bit = 0; bit < 8; bit++) {
            // bits from left-to-right (aka 7..0) is bottom-to-top
            const bitval = byteval & (1 << bit);
            imgdata[jx + bit * 6] = bitval;
          }
        }

        const key = mutations.addGlyph(ord, imgdata);
        ordmap[ord] = key;

        ord++;
        ix += 6;
      }

      for (let io = 0; io < this.imageOrds.length; io++) {
        const keys = this.imageOrds[io].map(x => ordmap[x]);
        mutations.addImage(keys);
      }

      // all done, close the dialog
      this.show = false;
    }
  },
}
</script>
