<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      dense
    >
      <v-toolbar-title>QMK OLED Glyph Editor</v-toolbar-title>

      <v-spacer></v-spacer>

      <!-- TODO: temporary for now... put this under settings? -->
      <v-btn outlined width="6em"
        @click = "toggleDisplay"
      >
        <v-icon left>mdi-compare</v-icon> {{ showInvert ? "PX" : "OLED" }}
      </v-btn>

      <!-- TODO: Glyph setting (pixel width/height).
           OLED dimensions (128x32, 128x64, custom)
           'mdi-tune', 'mdi-cog', 'mdi-cogs', 'mdi-file-cog'?
           'mdi-card-bulleted-settings'
      <v-btn icon>
        <v-icon>mdi-card-bulleted-settings</v-icon>
      </v-btn>
      -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on"
            @click.stop="showUploadDialog = true"
          >
            <v-icon>mdi-upload</v-icon>
          </v-btn>
        </template>
        <span>Load Font</span>
      </v-tooltip>

      <!-- TODO: Upload/Paste an image to convert...
           Borrow ideas from image2cpp (crossover point, scaling, etc)

           Can this be done live in the dialog box? And "okay" means save it
           to glyphs or straight to a file/textbox?
      -->
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on"
            @click.stop="showLoadImageDialog = true"
          >
            <v-icon>mdi-image-plus</v-icon>
          </v-btn>
        </template>
        <span>Load Image</span>
      </v-tooltip>

      <!-- TODO: Render an example to screen.
           Type to show example?
           Select if 128x32 of 128x64
      -->
      <!--
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on"
            @click="render"
          >
            <v-icon>mdi-eye</v-icon>
          </v-btn>
        </template>
        <span>Render Example</span>
      </v-tooltip>
      -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on"
            :disabled="!hasGlyphs"
            @click="download"
          >
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </template>
        <span>Download Font</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on"
            @click="resetApp"
          >
            <v-icon>mdi-restart</v-icon>
          </v-btn>
        </template>
        <span>Reset</span>
      </v-tooltip>
    </v-app-bar>

    <!--
      TODO: side icons for each warning. clicking on icon takes you to each site
      and clicking again to the next. hover to show the error message.
    -->

    <v-btn color="primary" fab v-blur fixed right small
      style="bottom: 16px"
      :class="{ 'd-none': selectCount != 0 }"
      @click.stop="showEditDialog = true"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <v-btn color="primary" fab v-blur fixed right small
      style="bottom: calc(16px + (32px + 16px) * 3)"
      :class="{ 'd-none': selectCount != 1 }"
      @click.stop="showEditDialog = true"
    >
      <v-icon>mdi-pencil</v-icon>
    </v-btn>

    <v-btn color="primary" fab v-blur fixed right small
      style="bottom: calc(16px + 32px + 16px)"
      :class="{ 'd-none': selectCount == 0 }"
      @click="deselectGlyphs"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>

    <v-btn color="primary" fab v-blur fixed right small
      style="bottom: 16px"
      :class="{ 'd-none': selectCount == 0 }"
      @click="deleteGlyphs"
    >
      <v-icon>mdi-delete</v-icon>
    </v-btn>

    <UploadDialog v-model="showUploadDialog"></UploadDialog>

    <EditDialog v-model="showEditDialog" :glyphKey="selectedKey"></EditDialog>

    <LoadImageDialog v-model="showLoadImageDialog"></LoadImageDialog>

    <!-- TODO: how to show global info:
      * too many glyphs
      * duplicate glyphs
    -->

    <v-content :class="{ 'invertBG': !showInvert }">
      <v-container fluid class="d-flex flex-wrap pr-12">
        <FontGlyph
          v-for="k in sortedglyphs"
          :key="k"
          v-bind:glyphKey="parseInt(k)"
          v-bind="glyphs[k]"
        />
      </v-container>
    </v-content>

    <v-footer>
      <a target="_blank" href="https://gitlab.com/kitlaan/qmk-oled-glyph-editor" class="nolink"><v-icon>mdi-gitlab</v-icon></a>
      <span class="caption pl-3">UNDER CONSTRUCTION, many things are partially functional.</span>
    </v-footer>
  </v-app>
</template>

<style>
.invertBG {
  background: #333;
}

.nolink {
  text-decoration: none;
}
</style>

<script>
import { store, mutations } from './store';
import { glyphsToCode } from './font';

import FontGlyph from './components/FontGlyph';
import UploadDialog from './components/UploadDialog';
import EditDialog from './components/EditDialog';
import LoadImageDialog from './components/LoadImageDialog';

export default {
  name: 'App',

  components: {
    FontGlyph,
    UploadDialog,
    EditDialog,
    LoadImageDialog,
  },

  data: () => ({
    showUploadDialog: false,
    showEditDialog: false,
    showLoadImageDialog: false,
  }),
  computed: {
    glyphs: function () {
      return store.glyphs;
    },
    sortedglyphs: function () {
      return Object.keys(this.glyphs).sort((a,b) => {
        if (this.glyphs[a].ord != null && this.glyphs[b].ord != null) {
          return this.glyphs[a].ord - this.glyphs[b].ord;
        }
        else if (this.glyphs[a].ord != null) {
          return -1;
        }
        else if (this.glyphs[b].ord != null) {
          return 1;
        }
        else {
          return a - b;
        }
      });
    },
    hasGlyphs: function () {
      return Object.keys(this.glyphs).length > 0;
    },
    selectedKey: function () {
      var count = 0;
      var selectedKey = null;
      for (var key in this.glyphs) {
        if (this.glyphs[key].selected) {
          selectedKey = key;
          count++;

          if (count >= 2) {
            return null;
          }
        }
      }
      return selectedKey;
    },
    selectCount: function () {
      var count = 0;
      for (var key in this.glyphs) {
        if (this.glyphs[key].selected) {
          count++;
        }
      }
      return count;
    },
    showInvert: function () {
      return store.showInvert;
    },
  },
  methods: {
    render: function () {
      console.log("render");
      // TODO: render dialog
    },
    toggleDisplay: function () {
      mutations.toggleInvert();
    },
    download: function () {
      const output = glyphsToCode(this.glyphs, store.imgkeys);

      var dl = document.createElement('a');
      dl.href = 'data:text/plain;charset=utf-8,' + encodeURIComponent(output);
      dl.download = 'oledfont.c';
      dl.style.display = 'none';
      document.body.appendChild(dl);
      dl.click();
      document.body.removeChild(dl);
    },
    deleteGlyphs: mutations.deleteSelectedGlyphs,
    deselectGlyphs: mutations.deselectAllGlyphs,
    resetApp: function () {
      if (Object.keys(store.glyphs).length > 0) {
        if (!window.confirm("Are you sure you want to reset?")) {
          return;
        }
      }
      mutations.reset();
    }
  },
}
</script>
